<%- include("./partials/head") %>
<body>
    <header>
        <nav>
            <li><a href="/">Inicio</a></li>
        </nav>
    </header>
    <main>
        <h1><%= titulo %></h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody > 
               <% productos.forEach(producto => {%>
                    <tr>
                        <td><%= producto.nombre %></td>
                        <td><%= producto.precio %></td>
                    </tr>
               <% }); %>
            </tbody>
        </table>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>